* {
  border-width: 1px;
  font-family: sans-serif;
}

html,
body {
  margin:0;
  border-width: 1px;
  height:100%;
}

#root {
  height:100%
}

:root {
  --main-text-light-color: rgba(255, 255, 255, 0.849);
  --main-blue-color: #1e90ff;
  --main-blue-hover-color: #156fc9;
  --main-blue-focus-color: #0a3764;
  --light-border-color: rgba(255, 255, 255, 0.582);;
}

#app-container {
  display: flex;
  flex-direction: column;
  height:100%;
  /* background-color: #272727 */
}

.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  left:0;
  bottom:0;
}

