

/* #top-bar-menu-button:focus {
  background-color: var(--main-blue-focus-color);
} */




#login-title {
  display: block;
  text-align: center;
  font-size:larger;
  font-weight: bold;
}

.login-page-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}

.login-text-input {
  width: 400px;
  padding: 12px 20px;
  margin: 20px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#login-submit-button {
  width: 100%;
  height: 40px;
  background-color: var(--main-blue-color);
  color: white; 
  border-radius: 5px;
  border-width: 0;
}

#login-submit-button:focus {
  background-color: var(--main-blue-focus-color);
}

#login-submit-button:hover {
  background-color: var(--main-blue-hover-color);
}
/* #user-info-image { */